.footer {
    color: lightslategrey;
}
.grid-margin-x > .cell {
    border: 1px solid lightgray;
    border-radius: 1rem;
}
.align-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-flex-center .button {
    margin: 0;
}
.footer {
    border-radius: 1rem;
    margin-top: 0.5rem
}
small.error {
    color: #cc4b37;
}
small.error + input {
    border-color: #cc4b37;
    color: #cc4b37;
}
.justify-left {
    justify-content: left;
}
body {
    background-color: #FEF7FF;
    background-image: url("/images/background.jpg");
    background-repeat: repeat-y;
}
.grid-container {
    background-color: rgba(254,247,255,0.8);
}
.striped div.grid-margin-x:nth-of-type(even)  {
    background-color: rgba(203,197,204,0.8);
}
.striped div.grid-margin-x:nth-of-type(even) .cell  {
    border-color: darkgrey;
}
.striped div.grid-x:last-child  {
    background-color: inherit;
}
.labels-inline label {
    display: inline;
}
.labels-inline div {
    max-height: 1.1rem;
}
.labels-inline div:last-child {
     max-height: inherit;
}
.font-size-85 {
    font-size: 85%;
}